* {
    margin: 0;
    padding: 0;
}
.break {
  font-size: 0;
}
.clearfix {
    content: " ";
    clear: both;
}

.wrapper {
    width: 908px;
    height: 1315px;
    margin: 0 auto;
}

header {
    height: 285px;
}

.header--top {
    height: 30px;
    padding: 10px 5px 5px 5px;
}
.header--top-nav {
    padding: 0 5px;
    border: 1px solid grey;
    border-radius: 20px;
    height: 20px;
    vertical-align: middle;
}
.header--top-nav {
  margin-left: 2px;
}
.header--top-nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 6px;
  position: relative;
  top: -2px;
  left: 1px;
}
.header--top-phone {
    float: left;
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    color: #5e696d;
    letter-spacing: 0.42px;
}

.icon {
    background: linear-gradient(to bottom, #0D3458, #1F6787);
    border-radius: 50%;
    padding: 2px 3px 1px;
    position: relative;
}

.icon img {
    position: relative;
    top: 3px;
}

.header--top-auth {
    margin: 0 15px;
    display: inline-block;
    background: linear-gradient(to bottom, #1F6787, #0D3458);
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    color: white;
    vertical-align: middle;
}

.header--top-auth img {
    margin: 2px 2px 2px 7px;
}

.header--top-auth input[type="text"],
.header--top-auth input[type="password"] {
    width: 112px;
    height: 14px;
    border: none;
    position: relative;
    top: -5px;
    font-size: 10.91px;
    padding: 1px;
}

.header--top-auth form {
    position: relative;
}

.header--top-auth a {
    font-size: 10.91px;
    color: white;
    cursor: pointer;
}

.header--top-auth .submit-link,
.header--top-auth .reg-link,
.header--top-auth .remind-link {
    position: relative;
    top: -5px;
    cursor: pointer;
}

.submit-link:after {
    content: " |";
    position: relative;
    top: 3px;
}

.header--top-auth .remind-link a {
    color: #bfbfbf;
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 1px #bfbfbf dashed;
}

.submit-link > a {
    cursor: pointer;
    padding-left: 5px;
}

.reg-link {
    margin-left: -5px;
}

.remind-link {
    letter-spacing: 0.5px;
    margin-left: 6px;
    margin-right: 10px;
}

.header--top-nav {
    float: right;
}

.header--logo {
    height: 235px;
    margin-top: 1px;
}

.menu {
  background: linear-gradient(to bottom, #505860, #020202);
  border-radius: 5px;
  height: 28px;
  padding: 3px;
  padding-left: 51px;
  margin-top: 2px;
}

nav {
    width: 60%;
    margin-left: 80px;
    margin-top: 3px;
}

ul.site-menu {
    list-style: none;
    color: #b1bcc0;
}

ul.site-menu li {
  display: inline-block;
  font-size: 13.64px;
  padding: 10px 13px;
  float: left;
  text-transform: uppercase;
  line-height: 4px;
}

.site-menu--item:hover {
    background: linear-gradient(to bottom, #1D6081, #0d3458);
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.cart {
    width: 23%;
    float: right;
    padding: 2px;
    margin-right: 34px;
    margin-top: 1px;
}

.cart-content li {
    float: right;
    display: inline-block;
    font-size: 11px;
    color: #929b9f;
}

.cart-content li img {
    padding: 0 5px;
}

.amount {
    color: #0d5a8f;
    padding: 0 10px;
}

.sorting {
    height: 120px;
    width: 100%;
    margin-top: 13px;
}
.sorting a {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #154467;
  float: right;
  margin-right: 21px;
  margin-top: 2px;
}
.sort {
    margin: 0 4px;
    padding: 0 4px;
    display: inline-block;
    border-radius: 15px;
    height: 125px;
    border: #9c9c9d solid 1px;
    box-shadow: 2px 2px 5px grey;
    float: left;
}
.tyres .field{
  margin: 0;
  text-align: right;
}
.sort-header {
    width: 100%;
    margin-top: -5px;
}
.tyres,
.car,
.disc {
  height: 134px;
}
.tyres {
    margin-left: 11px;
    width: 182px;
}
#size_from,
#size_to {
  display: inline-block;
  width: 50px;
}
#size_r {
  width: 40px;
}
.tyres .size_r {
  margin-right: 96px;
}
.tyres select {
  height: 20px;
}
.tyres input[type="checkbox"]{
  height: 12px;
  width: 12px;
}
.tyres a {
  margin-top: -5px;
}
.tyres .sort-header,
.disc .sort-header {
  padding-left: 5px;
}
.checkbox_block {
  margin-top: 5px;
}
.checkbox_name {
  float: left;
  clear: both;
  width: 24%;
}
.check_filter {
  float: right;
  text-align: left;
  width: 79%;
  margin-right: -11px;
}
.check_filter label{
  float: none;
}
.field.size_name {
    margin-right: 25px;
}
.car {
    width: 404px;
}
.disc {
    width: 255px;
}
.filter {
  width: 100%;
  margin-top: 3px;
  padding: 5px;
}
.sort-header span {
    display: inline-block;
    font-family: 'Arial black', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #154468;
}
.sort-header span.filter-name {
    text-align: center;
    font-size: 12px;
}

.car span:first-child {
    width: 17%;
    padding-left: 15px;
}
.car .filter-name {
    width: 60%;
}

.car span:last-child {
    text-align: right;
    width: 17%;

}
.car .left {
  width: 45%;
  display: block;
  float: left;
}
.car .right {
  width: 45%;
  display: block;
  float: right;
  margin-right: 10px;
}
.field {
  clear: both;
  text-align: right;
  font-size: 10px;
  margin-top: -5px;
  line-height: 10px;
}
.field:nth-child(2){
  margin-top: 1px;
}
.field:nth-child(3) select{
  width: 40px;
  margin-right: 60px;
}
label {
  text-align: left;
  float: left;
}
.grey {
    font-size: 8px;
    color: grey;
}
select {
  width: 100px;
}



main {
    margin-top: 34px;
}
.main {
    height: 624px;
}

.sidebar {
  width: 180px;
  float: left;
}
.sidebar li:hover{
  cursor: pointer;
}
.sidebar li label:hover{
  cursor: pointer;
}
.sidebar ul li:hover::before{
  font-style: normal;
}
.sidebar-right ul li label{
  float: none;
}
.sidebar-right {
  margin-left: 10px;
}
.sidebar--header {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12.73px;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px 5px 5px 30px;
  box-shadow: 3px 3px 3px #79878d;
  text-transform: uppercase;
}
.sidebar--header img {
  position: absolute;
  left: 3px;
  top: 2px;
}
.sidebar--menu > .sidebar--header {
  margin-top: 10px;
  width: 110px;
}

.sidebar-left ul li{
  list-style-type: none;
}
.sidebar-left ul li:before {
  content: "○ ";
}
.sidebar-right ul li{
  list-style-type: none;
}
li input[type="checkbox"]{
  list-style-type: none;
}
.sidebar-left ul{
  font-size: 12.73px;
  text-align: right;
  margin-right: 30px;
  color: #465961;
  line-height: 24.5px;
}
.sidebar-left ul li:hover{
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-right: -15px;
}
.sidebar--menu:nth-child(3),
.sidebar--menu:nth-child(4){
  margin-top: -9px;
}
.sidebar-right ul{
  font-size: 12.73px;
  margin-left: 10px;
  line-height: 24.5px;
  color: #465961;
}
.sidebar-right ul li:hover{
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-right: -15px;
}
.sidebar-right .sidebar--menu {
  margin-left: 15px;
}
.sidebar-right .sidebar--menu:nth-child(3) {
  margin-left: 15px;
  margin-top: 9px;
}
.main--product {
    float: left;
    width: 505px;
    background: linear-gradient(to bottom, #e5e7e8, #93a7b0) 0 0 no-repeat;
    margin-left: 10px;
    height: 604px;
    padding: 10px;
    overflow: hidden;
}
.main--product figure {
  display: inline-block;
  width: 164px;
  height: 185px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 18px;
}
.main--product figcaption {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #206988;
  padding-left: 20px;
}
span.description {
  display: block;
}
.figure-title {
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 14.59px;
  color: #206988;
  font-weight: bold;
}
.fix-height {
  position: relative;
  top: -8px;
}
.description {
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 12.77px;
}
.sidebar button {
  margin: 16px 25px;
  height: 26px;
  width: 81px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(to bottom, #1E6383, #0D3458);
  color: white;
}
.sidebar button:hover{
  cursor: pointer;
}
.brand-row {
  padding: 36px 29px 21px 29px;
  margin-left: 77px;
}
.brand-row a{
  display: inline-block;
  margin-left: 9px;
}
footer {
  padding: 5px 20px 0 20px;
  height: 110px;
  width: 870px;
  background-color: #213A4D;
}
.footer-nav {
  margin: 0 auto;
  max-width: 40%;
}
.footer-nav a {
  text-decoration: none;
  color: white;
}
.footer-nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  padding-left: 14px;
  padding-right: 4px;
  border-left: 1px solid white;
  letter-spacing: -0.12px;
}
.footer-nav ul li:first-child {
  border: none;
}
.footer-nav ul {
  margin-left: 15px;
}
.footer-nav a:hover {
    color: #52ABCB;
}
.copyright {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  color: #7F4740;
  font-size: 10px;
  margin: 0 auto;
  width: 160px;
  padding-top: 12px;
}
